@import "styles/_mixins";

.root {
  background: #fff;
  border-bottom: 2px solid black;
}

.nav {
  @extend %layout;

  padding: 32px 0;
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto auto auto;
  align-items: center;
  gap: 18px;
}

.logo {
}

.logoImage {
  height: 52px;
}

.languageList {
  display: flex;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.languageItem {
}

.lang {
  display: block;
  padding: 12px;
  background: #c7d2e9;
  border-radius: 4px;
  font-size: 22px;
  color: #000000;
  cursor: pointer;

  & abbr {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }

  transition: background 0.3s ease-in;

  &:focus:not(:focus-visible) {
    background: #9ab6f1;
    outline: none;
  }

  &:focus-visible {
    background: #9ab6f1;
    outline: 3px solid #5100d3;
    outline-offset: -3px;
  }
}

.profile {
  border: none;
  background: none;
  color: black;
  cursor: pointer;

  & svg {
    color: currentColor;
  }

  transition: color 0.3s ease-in, background 0.3s ease-in;

  &:hover {
    color: #fff;
    background: #5100d3;
  }

  &:focus:not(:focus-visible) {
    color: #fff;
    background: #5100d3;
    outline: none;
  }

  &:focus-visible {
    color: #fff;
    background: #5100d3;
    outline: 3px solid #5100d3;
    outline-offset: -3px;
  }
}

.search {
  height: 100%;
  position: relative;
}

.label {
  display: block;
  height: 100%;
}

.input {
  min-width: 300px;
  height: 100%;
  border: 2px solid #000;
  padding: 0 20px;
  font-size: 20px;

  transition: background 0.3s ease-in;

  &:hover {
    background: rgba(black, 0.1);
  }

  &:focus:not(:focus-visible) {
    background: rgba(black, 0.1);
    outline: none;
  }

  &:focus-visible {
    background: rgba(black, 0.1);
    outline: 3px solid #5100d3;
    outline-offset: -3px;
  }
}

.submit {
  position: absolute;
  inset: 0 0 0 auto;
  font-size: 3rem;
  display: flex;
  align-items: center;
  padding: 0.6rem;
  margin: 0;
  border: none;
  cursor: pointer;
  color: #fff;
  background: #5100d3;

  & svg {
    fill: currentColor;
  }

  transition: background 0.3s ease-in;

  &:hover {
    background: #380093;
  }

  &:focus:not(:focus-visible) {
    background: #380093;
    outline: none;
  }

  &:focus-visible {
    background: #380093;
    outline: 3px solid #fff;
    outline-offset: -6px;
  }
}
