.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 360px));
  gap: 48px;
  padding: 48px 0;
}

.item {
}

.card {
  display: grid;
  gap: 8px;
  position: relative;

  &:hover,
  &:focus-within {
    outline: 6px solid #5100d3;
    outline-offset: -6px;
  }
}

.header {
}

.title {
  font-size: 26px;
  color: #000000;
  margin: 0;
  text-transform: uppercase;
}

.image {
  height: 160px;
  background-color: #f9f9fb;
  display: flex;
  justify-content: center;

  & svg {
    height: 100%;
  }
}

.address {
  font-size: 16px;
  color: #000000;
}

.footer {
}

.more {
  font-size: 16px;
  text-decoration-line: underline;
  color: #000000;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    inset: 0;
  }

  &:focus {
    outline: none;
  }
}
